BOARD_URL	""	""

POST_ID		""	""
POST_USER	""	""
POST_TITLE	""	""
POST_THUMBNAIL	""	""
POST_IMGURL	""	""
POST_FILENAME	""	""
POST_DATE	""	""
POST_MESSAGE	""	""

START_THREAD	POST_FILENAME
START_POST	POST_ID
END_POST	POST_MESSAGE
END_IMAGE	POST_MESSAGE
